<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="Trabalho_ISI_ESConnectionString" connectionString="Data Source=DESKTOP-8HGCRVJ\SABS;Initial Catalog=Trabalho_ISI_ES;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>

	  <services>
	  <service name="Service1" behaviorConfiguration="soapBehavior" >
		  <!--REST-->
		  <endpoint
   address="rest"
   behaviorConfiguration="restBehavior"
   binding="webHttpBinding"
   name="RESTEndPoint"
   contract="IService1Soap"/>
		  <!--SOAP-->
		  <endpoint
   address="soap"
   binding="basicHttpBinding"
   name="SOAPEndPoint"
   contract="IService1Soap" />

	  </service>
	 </services>

	  <behaviors>
		  <serviceBehaviors>
			  <behavior name="soapBehavior">
				  <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
				  <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
				  <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
				  <serviceDebug includeExceptionDetailInFaults="false"/>
			  </behavior>
		  </serviceBehaviors>

		  <endpointBehaviors>
			  <behavior name="restBehavior">
				  <webHttp helpEnabled="true"/>
				  <!--permite o Service.svc/help-->
			  </behavior>
		  </endpointBehaviors>
	  </behaviors>

    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
	  <serviceHostingEnvironment
  minFreeMemoryPercentageToActivateService="0"
  multipleSiteBindingsEnabled="true"
  aspNetCompatibilityEnabled="true"/>
  
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
